<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-bus me-2"></i>BusBooking
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fa fa-arrow-right me-1"></i> Login
          </a>
        </li>
        <!-- Logout Button -->
        <li class="nav-item">
          <button class="nav-link btn btn-link " (click)="logout()">
            <i class="fa fa-sign-out-alt me-1"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
 
</nav>
<router-outlet></router-outlet>

<!-- Floating Chat Button -->
<button class="chat-toggle" (click)="toggleChat()" title="Open Chatbot">💬</button>

<!-- Chat Window -->
<app-chatbot *ngIf="chatOpen"></app-chatbot>

